@{
    ViewBag.Title = "Check Your Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for registering. Please check your email for correspondence from us containing a link. Once you click this link, you will be able to log in. 
    </p>
</div>
